body {
  background-color: rgb(250, 250, 250);
  font-family: "Fira Sans", Arial, sans-serif;
  margin: 0px auto;
  margin-top: 30px;
  max-width: 1200px;
}
@media (max-width: 830px) {
  body {
    margin-top: 60px;
  }
}
/*---------------------------------------------*/
a {
  text-decoration: none;
}
/*---------------------------------------------*/

ul {
  list-style: none;
}
/*---------------------------------------------*/
h1 {
  font-size: 4.5rem;
  margin: 0px;
}

@media (max-width: 611px) {
  h1 {
    font-size: 55px;
  }
}
/*--------------------------------------------*/

.logo img {
  display: inline;
  max-width: 220px;
}

@media (max-width: 1050px) {
  .logo img {
    display: none;
  }
}
/*------------------------------------*/
.topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
/*----------------------------------*/
.menu {
  display: flex;
  gap: 50px;
}
@media (max-width: 1250px) {
  .menu {
    margin-right: 40px;
  }
}
@media (max-width: 830px) {
  .menu {
    margin-bottom: 40px;
  }
}
.menu li a {
  padding: 10px 25px;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  box-shadow: 0px 1px 3px 0px;
  color: #414141;
}
a:hover {
  border-left: solid 3px #00ffbb;
}

/*-----------------------------------*/
.perfil {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0px 2px 3px 0px;
  margin-left: 50px;
}

@media (max-width: 1100px) {
  .perfil {
    max-width: 301px;
    margin-left: 30px;
  }
}
/*-----------------------------------*/
.box-decoration {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.box-decoration .quadrado {
  display: flex;
  max-width: 60%;
  justify-items: center;
  margin-left: auto;
  margin-top: 35px;
}
/*-----------------------------------*/
.capa {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: center;
  gap: 20px;
  margin-bottom: 200px;
}
@media (max-width: 900px) {
  .capa {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 35px;
  }
}

.titulo span img {
  max-width: 160px;
  position: absolute;
  right: 150px;
  top: 465px;
  z-index: -1;
}
@media (max-width: 900px) {
  .titulo span img {
    max-width: 160px;
    position: absolute;
    right: 595px;
    top: 190px;
    z-index: -1;
  }
}
/*-----------------------------------*/
.quem-sou {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-bottom: 300px;
}
@media (max-width: 930px) {
  .quem-sou {
    grid-template-columns: 1fr;
    max-width: none;
    word-break: normal;
    text-align: center;
    margin-left: 30px;
  }
}
.quem-sou h1 {
  font-size: 120px;
  word-break: break-all;
  line-height: 1.6;
  max-width: 6ch;
  color: rgb(190, 190, 190);
  margin-left: 40px;
}
@media (max-width: 930px) {
  .quem-sou h1 {
    grid-template-columns: 1fr;
    max-width: none;
    word-break: normal;
    text-align: center;
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial;
    display: grid;
    justify-items: start;
    color: black;
  }
}
.texto {
  color: rgb(83, 83, 83);
  margin-right: 30px;
  padding: 25px;
  border-radius: 4px;
  padding-right: 30px;
  box-shadow: 0px 1px 3px 0px;
  font-size: 25px;
}

/*-----------------------------------*/
.habilidade {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 120px;
  margin-bottom: 300px;
  align-items: center;
}
@media (max-width: 930px) {
  .habilidade {
    grid-template-columns: 1fr;
    max-width: none;
    word-break: normal;
    text-align: center;
  }
}
.habilidade img {
  max-width: 100%;
  background-repeat: no-repeat;
}

.habilidade h1 {
  font-size: 120px;
  word-break: break-all;
  max-width: 6.5ch;
  line-height: 1.6;
  color: rgb(190, 190, 190);
  margin-left: 40px;
}

@media (max-width: 930px) {
  .habilidade h1 {
    grid-template-columns: 1fr;
    max-width: none;
    word-break: normal;
    text-align: center;
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial;
    display: grid;
    justify-items: start;
    color: black;
    margin-left: 80px;
  }
}

/*-------------------------------------*/
.projetos {
  display: grid;
  gap: 0px;
  grid-template-columns: 1fr 2fr;
  margin-top: 40px;
  margin-bottom: 350px;
  align-items: center;
  place-items: center;
}
@media (max-width: 930px) {
  .projetos {
    grid-template-columns: 1fr;
    max-width: none;
    word-break: normal;
    text-align: center;
    justify-items: start;
  }
}

.projetos ul {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  margin-right: 30px;
}

.projetos ul :hover {
  border-left: solid 3px #00ffbb;
}

@media (max-width: 730px) {
  .projetos ul {
    grid-template-columns: 1fr;
    margin-bottom: 100px;
    max-width: none;
    word-break: normal;
    text-align: center;
  }
}

.projetos ul li {
  padding: 25px 125px;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  box-shadow: 0px 1px 3px 0px;
  color: #414141;
}
.box-projeto ul li a {
  color: #414141;
}
.sub-titulo {
  font-size: 120px;
  word-break: break-all;
  line-height: 1.3;
  max-width: 4ch;
  color: rgb(190, 190, 190);
}
@media (max-width: 930px) {
  .sub-titulo {
    margin-bottom: 100px;
    max-width: none;
    word-break: normal;
    text-align: center;
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial;
    display: grid;
    color: black;
    margin-left: 90px;
  }
}
/*-----------------------------------------*/
#contato {
  margin-bottom: 300px;
}
#contato p {
  color: rgb(96, 96, 96);
  line-height: 1.9;
  text-align: justify;
  text-align: center;
}
#contato h2 {
  color: #727272;
  text-align: center;
  font-size: 42px;
}
/*-----------------------------------------*/
footer {
  text-align: center;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  color: rgb(125, 125, 125);
}

/*-----------------------------------------*/
